$border-color: #888;

body {
    background-color: #ddd;
}

.panel {
    border: 1px solid $border-color;
    margin-bottom: 20px;
    
    .panel-heading {
        background-color: #999;
        border-bottom: 1px solid $border-color;

        .panel-title {
            font-weight: 700;
            margin: 0px;
            padding: 0px;
        }

    }

    .panel-body {
        background-color: #aaa;
        margin: 0px;
        padding: 0px;

        ul, li {
            margin: 0px;
            padding: 0px;
        }
        
    }
}